<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMedicineremindMapper">
    
    <resultMap type="SysMedicineremind" id="SysMedicineremindResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="medicineName"    column="medicine_name"    />
        <result property="dosage"    column="dosage"    />
        <result property="frequency"    column="frequency"    />
        <result property="medicineDays"    column="medicine_days"    />
        <result property="morningTime"    column="morning_time"    />
        <result property="noonTime"    column="noon_time"    />
        <result property="eveningTime"    column="evening_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="remindType"    column="remind_type"    />
    </resultMap>

    <sql id="selectSysMedicineremindVo">
        select id, user_id, medicine_name, dosage, frequency, medicine_days,morning_time, noon_time, evening_time, create_time, status, remind_type from sys_medicineremind
    </sql>

    <select id="selectSysMedicineremindList" parameterType="SysMedicineremind" resultMap="SysMedicineremindResult">
        <include refid="selectSysMedicineremindVo"/>
        <where>  
            <if test="medicineName != null  and medicineName != ''"> and medicine_name like concat('%', #{medicineName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysMedicineremindById" parameterType="Long" resultMap="SysMedicineremindResult">
        <include refid="selectSysMedicineremindVo"/>
        where user_id = #{userId}
    </select>


    <update id="updateSysMedicineremind" parameterType="SysMedicineremind">
        update sys_medicineremind
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="medicineName != null">medicine_name = #{medicineName},</if>
            <if test="dosage != null">dosage = #{dosage},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="medicineDays != null">medicine_days = #{medicineDays},</if>
            <if test="morningTime != null">morning_time = #{morningTime},</if>
            <if test="noonTime != null">noon_time = #{noonTime},</if>
            <if test="eveningTime != null">evening_time = #{eveningTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remindType != null">remind_type = #{remindType},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="getTopTenMedicineUsage" resultType="java.util.Map">
        SELECT medicine_name, COUNT(*) AS `count`
        FROM sys_medicineremind
        GROUP BY medicine_name
        ORDER BY `count` DESC
            LIMIT 10
    </select>
    <select id="getTopFiveUsersMedicineCount" resultType="java.util.Map">
        SELECT user_id, COUNT(*) AS `count`
        FROM sys_medicineremind
        GROUP BY user_id
        ORDER BY `count` DESC
            LIMIT 5
    </select>

    <insert id="insertSysMedicineremind" parameterType="SysMedicineremind" useGeneratedKeys="true" keyProperty="id">
        insert into sys_medicineremind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="medicineName != null">medicine_name,</if>
            <if test="dosage != null">dosage,</if>
            <if test="frequency != null">frequency,</if>
            <if test="medicineDays != null">medicine_days,</if>
            <if test="morningTime != null">morning_time,</if>
            <if test="noonTime != null">noon_time,</if>
            <if test="eveningTime != null">evening_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="remindType != null">remind_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="medicineName != null">#{medicineName},</if>
            <if test="dosage != null">#{dosage},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="medicineDays != null">#{medicineDays},</if>
            <if test="morningTime != null">#{morningTime},</if>
            <if test="noonTime != null">#{noonTime},</if>
            <if test="eveningTime != null">#{eveningTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remindType != null">#{remindType},</if>
        </trim>
    </insert>

    <delete id="deleteSysMedicineremindById" parameterType="Long">
        delete from sys_medicineremind where id = #{id}
    </delete>

    <delete id="deleteSysMedicineremindByIds" parameterType="String">
        delete from sys_medicineremind where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSysMedicineremindByUserId" parameterType="Long">
        delete from sys_medicineremind where user_id = #{userId}
    </delete>

    <delete id="deleteSysMedicineremindByUserIds" parameterType="String">
        delete from sys_medicineremind where user_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>