<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRediagMapper">

    <resultMap type="SysRediag" id="SysRediagResult">
        <result property="rediagId"    column="rediag_id"    />
        <result property="rediagContent"    column="rediag_content"    />
        <result property="diagId"    column="diag_id"    />
        <result property="hospitalName"    column="hospital_name"    />
        <result property="rediagTime"    column="rediag_time"    />
        <result property="status"    column="status"    />
        <result property="remindType"    column="remind_type"    />
        <result property="userId"    column="user_id"    />
        <collection  property="sysDiags"   javaType="java.util.List"  resultMap="SysDiagResult" />
    </resultMap>

    <resultMap type="SysDiag" id="SysDiagResult">
        <result property="diagId"    column="diag_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="patientNumber"    column="patient_number"    />
        <result property="diagContent"    column="diag_content"    />
        <result property="diagTime"    column="diag_time"    />
    </resultMap>

    <sql id="selectSysRediagVo">
        SELECT sr.rediag_id, sr.rediag_content, sr.diag_id, sr.hospital_name, sr.rediag_time,sr.status,sr.remind_type,sr.user_id,
               sd.diag_id , sd.patient_name, sd.patient_number, sd.diag_content, sd.diag_time
        FROM sys_rediag sr
                 INNER JOIN sys_diag sd ON sr.diag_id = sd.diag_id
    </sql>

    <select id="selectSysRediagList" parameterType="SysRediag" resultMap="SysRediagResult">
        <include refid="selectSysRediagVo"/>
        <where>
            <if test="hospitalName != null  and hospitalName != ''"> and sr.hospital_name like concat('%', #{hospitalName}, '%')</if>
            <if test="rediagTime != null "> and sr.rediag_time &gt;= #{rediagTime}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectSysRediagByRediagId" parameterType="Long" resultMap="SysRediagResult">
        <include refid="selectSysRediagVo"/>
        where sr.rediag_id = #{rediagId}
    </select>
    <select id="selectSysRediagBydiagId" resultType="com.ruoyi.system.domain.SysRediag">
        <include refid="selectSysRediagVo"/>
        where sd.diag_id = #{diagId}
    </select>


    <insert id="insertSysRediag" parameterType="SysRediag" useGeneratedKeys="true" keyProperty="rediagId">
        insert into sys_rediag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rediagContent != null">rediag_content,</if>
            <if test="diagId != null">diag_id,</if>
            <if test="hospitalName != null">hospital_name,</if>
            <if test="rediagTime != null">rediag_time,</if>
            <if test="status != null">status,</if>
            <if test="remindType != null">remind_type,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rediagContent != null">#{rediagContent},</if>
            <if test="diagId != null">#{diagId},</if>
            <if test="hospitalName != null">#{hospitalName},</if>
            <if test="rediagTime != null">#{rediagTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remindType != null">#{remindType},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateSysRediag" parameterType="SysRediag">
        update sys_rediag
        <trim prefix="SET" suffixOverrides=",">
            <if test="rediagContent != null">rediag_content = #{rediagContent},</if>
            <if test="diagId != null">diag_id = #{diagId},</if>
            <if test="hospitalName != null">hospital_name = #{hospitalName},</if>
            <if test="rediagTime != null">rediag_time = #{rediagTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remindType != null">remind_type = #{remindType},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where rediag_id = #{rediagId}
    </update>

    <delete id="deleteSysRediagByRediagId" parameterType="Long">
        delete from sys_rediag where rediag_id = #{rediagId}
    </delete>

    <delete id="deleteSysRediagByRediagIds" parameterType="String">
        delete from sys_rediag where rediag_id in
        <foreach item="rediagId" collection="array" open="(" separator="," close=")">
            #{rediagId}
        </foreach>
    </delete>
</mapper>